.eta {
    display: block;
    position: absolute;
    top: 0; /* Adjust as needed */
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust opacity as needed */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    z-index: 1000; /* Make sure the overlay appears above other elements */
  }
